dist/lambda_packaging/ingestion/icpa/state_machines/claim_orchestration.asl.json
{
  "StartAt": "GenerateClaimSummary",
  "States": {
    "GenerateClaimSummary": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SummarizationLambdaArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "claim_summary_text.$": "$.Payload.summary"
      },
      "ResultPath": "$.claim_summary",
      "Next": "RouteClaim",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ]
    },
    "RouteClaim": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${RouterLambdaArn}",
        "Payload": {
          "claim_id.$": "$.claim_id",
          "claim_amount.$": "$.claim_amount",
          "policy_state.$": "$.policy_state"
        }
      },
      "ResultSelector": {
        "target_agent.$": "$.Payload.target_agent",
        "reason.$": "$.Payload.reason"
      },
      "ResultPath": "$.router_output",
      "Next": "AgentRouter"
    },
    "AgentRouter": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.router_output.target_agent",
          "StringEquals": "HITL",
          "Next": "HumanReview"
        }
      ],
      "Default": "FraudAgent"
    },
    "FraudAgent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${InvokeFraudAgentLambdaArn}",
        "Payload": {
          "session_id.$": "$.claim_id",
          "claim_id.$": "$.claim_id",
          "input_text.$": "$.claim_summary.claim_summary_text"
        }
      },
      "ResultSelector": {
        "agent_result.$": "$.Payload"
      },
      "ResultPath": "$.fraud_result",
      "Next": "FraudCheck",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ErrorHandlingState"
        }
      ]
    },
    "FraudCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.fraud_result.agent_result.decision",
          "StringEquals": "STOP",
          "Next": "RejectClaim"
        },
        {
          "NumericGreaterThan": 0.70,
          "Variable": "$.fraud_result.agent_result.structured_findings.fraud_score",
          "Next": "HumanReview"
        }
      ],
      "Default": "AdjudicationAgent"
    },
    "AdjudicationAgent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${InvokeAdjAgentLambdaArn}",
        "Payload": {
          "session_id.$": "$.claim_id",
          "claim_id.$": "$.claim_id",
          "input_text.$": "$.claim_summary.claim_summary_text"
        }
      },
      "ResultSelector": {
        "agent_result.$": "$.Payload"
      },
      "ResultPath": "$.agent_result",
      "Next": "EvaluateResult",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ErrorHandlingState"
        }
      ]
    },
    "EvaluateResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.agent_result.agent_result.decision",
          "StringEquals": "STOP",
          "Next": "RejectClaim"
        },
        {
          "Variable": "$.agent_result.agent_result.decision",
          "StringEquals": "DENY",
          "Next": "RejectClaim"
        },
        {
          "Variable": "$.agent_result.agent_result.decision",
          "StringEquals": "BLOCKED",
          "Next": "HumanReview"
        },
        {
          "Variable": "$.agent_result.agent_result.decision",
          "StringEquals": "APPROVE",
          "Next": "FinalizeClaim"
        }
      ],
      "Default": "HumanReview"
    },
    "HumanReview": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${NotificationLambdaArn}",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "claim_id.$": "$.claim_id"
        }
      },
      "ResultPath": "$.human_decision",
      "Next": "HumanDecisionChoice"
    },
    "HumanDecisionChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.human_decision.decision",
          "StringEquals": "DENY",
          "Next": "RejectClaim"
        }
      ],
      "Default": "FinalizeClaim"
    },
    "RejectClaim": {
      "Type": "Fail",
      "Cause": "Claim Rejected or Denied"
    },
    "ErrorHandlingState": {
      "Type": "Fail",
      "Cause": "Workflow Error"
    },
    "FinalizeClaim": {
      "Type": "Succeed"
    }
  }
}
